[main]
EC2_INSTANCE_TAG_NAME = ${EC2_INSTANCE_TAG_NAME}
EC2_INSTANCE_TAG_VALUE = ${EC2_INSTANCE_TAG_VALUE}
RETENTION_DAYS = ${RETENTION_DAYS}
VOLUME_TAG_NAMES_TO_RETAIN = ${VOLUME_TAG_NAMES_TO_RETAIN}

[regions]
regionList = ${REGIONS}
